<header>
    <div class="page-container">
        <nav>
            {{#link-to "home"}} Home {{/link-to}}
            {{#link-to "user"}}
                <img class="avatar" src="/images/avatar.jpg" alt="">
                t4t5
            {{/link-to}}
            <button class="chirp">Chirp</button>
        </nav>
    </div>
</header>
{{outlet}}
